apiVersion: apps/v1
kind: Deployment
metadata:
  name: cache-service
  namespace: elearning
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cache-service
  template:
    metadata:
      labels:
        app: cache-service
    spec:
      containers:
      - name: cache-service
        image: elearning/cache-service:latest
        ports:
        - containerPort: 8018
