apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: sponsors-service-hpa
  namespace: elearning
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: sponsors-service
  minReplicas: 2
  maxReplicas: 4
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
