apiVersion: apps/v1
kind: Deployment
metadata:
  name: monitoring-service
  namespace: elearning
spec:
  replicas: 1
  selector:
    matchLabels:
      app: monitoring-service
  template:
    metadata:
      labels:
        app: monitoring-service
    spec:
      containers:
      - name: monitoring-service
        image: elearning/monitoring-service:latest
        ports:
        - containerPort: 8016
