apiVersion: apps/v1
kind: Deployment
metadata:
  name: security-service
  namespace: elearning
spec:
  replicas: 2
  selector:
    matchLabels:
      app: security-service
  template:
    metadata:
      labels:
        app: security-service
    spec:
      containers:
      - name: security-service
        image: elearning/security-service:latest
        ports:
        - containerPort: 8015
