apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-service
  namespace: elearning
spec:
  replicas: 3
  selector:
    matchLabels:
      app: payments-service
  template:
    metadata:
      labels:
        app: payments-service
    spec:
      containers:
      - name: payments-service
        image: elearning/payments-service:latest
        ports:
        - containerPort: 8006
