apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: elearning
spec:
  replicas: 3
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: elearning/auth-service:latest
        ports:
        - containerPort: 8001
