apiVersion: apps/v1
kind: Deployment
metadata:
  name: storage-service
  namespace: elearning
spec:
  replicas: 3
  selector:
    matchLabels:
      app: storage-service
  template:
    metadata:
      labels:
        app: storage-service
    spec:
      containers:
      - name: storage-service
        image: elearning/storage-service:latest
        ports:
        - containerPort: 8014
