apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-service
  namespace: elearning
spec:
  replicas: 2
  selector:
    matchLabels:
      app: search-service
  template:
    metadata:
      labels:
        app: search-service
    spec:
      containers:
      - name: search-service
        image: elearning/search-service:latest
        ports:
        - containerPort: 8013
