apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications-service
  namespace: elearning
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notifications-service
  template:
    metadata:
      labels:
        app: notifications-service
    spec:
      containers:
      - name: notifications-service
        image: elearning/notifications-service:latest
        ports:
        - containerPort: 8007
