apiVersion: v1
kind: Service
metadata:
  name: notifications-service
  namespace: elearning
spec:
  type: ClusterIP
  ports:
  - port: 8007
    targetPort: 8007
  selector:
    app: notifications-service
